html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f5f7fb;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

:root {
  --font-size: 16px;
  --radius: calc(var(--font-size) / 5);
}
